.my-nav{
position: absolute;
z-index: 10;
width: 100%;
}

.carousel-item {
  height: 800px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@media only screen and (max-width:720px) {
.carousel-item {
  height: 300px;}}