.online {width: 48%;box-shadow: 0 0 5px #BFA4A1;float:left;margin-top: 60px;background: black;margin-left: 2%;height: 300px}

.online iframe{width: 100%;height: 260px;text-align: center;}
.open-button {
  width: 15%;height: 50px;margin-top: 20px;border-radius: 50px;background: linear-gradient(#FB4822,gray);border:2px solid black;color: black;font-size: 18px;font-size: 25px;
  
  position: fixed;
  bottom: 23px;
  right: 28px;
}
     /* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right:15px;
}

/* Add styles to the form container */
.form-container {
  width: 400px;
  padding: 10px;
  background-color: #757575;

}

/* Full-width input fields */
.form-container input,textarea {
  width: 100%;
  padding: 5px;
  margin: 2px 0 15px 0;
  border: none;
  background: white;
}
.form-container button{width: 40%;height: 40px;border:2px solid black;border-radius: 20px;background: black;color:white;text-align: center;}
.form-container button:hover{background: white;color: black;border:2px solid white}

/* When the inputs get focus, do something */
.form-container input,textarea:focus {
  background-color: #ddd;
  outline: none;
}

h6{color: white;text-align: center;}

        * {
  box-sizing: border-box;
}
    @media only screen and (max-width:720px) {
            .online {width: 100%;box-shadow: 0 0 5px #BFA4A1;float:left;margin-top: 20px;background: black;margin-left: 0;height: 220px}
      .online iframe{width: 100%;height: 180px;text-align: center;}
      h6{color: white;text-align: center;font-size: 12px}

       .open-button {width: 40%;font-size: 20px;height: 40px;position: fixed;
      
  bottom: 5px;
  right: 5px;}
  
.form-popup {
  display: none;
  position: fixed;
  bottom: 0px;
  right:0%;
  width: 100%
}

/* Add styles to the form container */
.form-container {
  width: 90%;
  padding: 10px;
  background-color: white;

}

/* Full-width input fields */
.form-container input,textarea {
  width: 90%;
  padding: 3px;
  margin: 2px 0 5px 0;
  border: none;
  background: #f1f1f1;
}
 .form-container button{width: 40%;padding: 5px;border:2px solid black;border-radius: 20px;background: black;color:white;text-align: center;}


      .form-container button:hover{background: white;color: black;border:2px solid white}
/* When the inputs get focus, do something */
.form-container input,textarea:focus {
  background-color: #ddd;
  outline: none;
}
.form-container h1{font-size: 20px}
    #stick {
  width: 14%;height: 50px;border-radius: 100%;
    z-index: 99;

  position: fixed;
  bottom: 30px;
left: 20px}
#stick:hover{width:16%;height: 55px }

  }